@import "tailwindcss";

@theme {
    --color-boba-primary: #F76C6C;
    --color-boba-dark: #E85A4F;
    --color-boba-cream: #FFF3E9;
    --color-boba-brown: #3E2723;
    --color-boba-text: #1F1F1F;
    --color-boba-gray: #666666;
    --color-boba-border: #EDEDED;

    --font-heading: "Playfair Display", serif;
    --font-body: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #FFF3E9;
}

.font-heading {
    font-family: "Playfair Display", serif;
}